body {
  text-align: center;
}
#info {
  padding-bottom: 5px;
}
table {
  border-collapse: collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

table, th, td {
    border: 1px solid black;
    padding: 2px;
}
input {
  width: 40px;
}
